$start: 0;
$limit: 300;
$interval: 5;

$real: $limit / $interval;

// Margins

@for $i from 0 through $real {
  @if(($i * $interval) + $start <= $limit) {

    .mh-#{($i * $interval) + $start} {
      min-height: #{($i * $interval) + $start}px;
    }

    .m-#{($i * $interval) + $start} {
      margin: #{($i * $interval) + $start}px;
    }
    .m-t-#{($i * $interval) + $start} {
      margin-top: #{($i * $interval) + $start}px !important;
    }
    .m-b-#{($i * $interval) + $start} {
      margin-bottom: #{($i * $interval) + $start}px !important;
    }
    .m-r-#{($i * $interval) + $start} {
      margin-right: #{($i * $interval) + $start}px !important;
    }
    .m-l-#{($i * $interval) + $start} {
      margin-left: #{($i * $interval) + $start}px !important;
    }

    .p-#{($i * $interval) + $start} {
      padding: #{($i * $interval) + $start}px;
    }
    .p-t-#{($i * $interval) + $start} {
      padding-top: #{($i * $interval) + $start}px !important;
    }
    .p-b-#{($i * $interval) + $start} {
      padding-bottom: #{($i * $interval) + $start}px !important;
    }
    .p-r-#{($i * $interval) + $start} {
      padding-right: #{($i * $interval) + $start}px !important;
    }
    .p-l-#{($i * $interval) + $start} {
      padding-left: #{($i * $interval) + $start}px !important;
    }
    .m-t--#{($i * $interval) + $start} {
      margin-top: -#{($i * $interval) + $start}px !important;
    }
  }
}


.vertical-align-parent {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  &.vertical-align-absolute {
    position: absolute;
  }
}
