/* @override 
	http://gas.sixthhouse.com/themes/gas/css/style.css
	http://localhost/gas/themes/gas/css/style.css */

@import "http://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:700,300&.css)";

html {
/*  background-attachment: none, fixed;*/
}
body {
  background: #252525;
  color: #333333;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Lato", "Helvetica Neue", _sans-serif;
}
a {
	-o-transition:.5s ease-out;
	  -ms-transition:.5s ease-out;
	  -moz-transition:.5s ease-out;
	  -webkit-transition:.5s ease-out;
	  transition:.5s ease-out;
}
p strong {
	color: #000;
}
.button {
	text-transform: uppercase;
}
.right-align {
  text-align: right;
}
i {
  font-size: 1em;
}
li.name h1 a {
  display: block;
  text-indent: -10000px;
  height: 100px;
  width: 150px !important;
  background: url('../images/MenuLogo.png') no-repeat left 10px;
}
.svg li.name h1 a {
  background: url('../images/MenuLogo.svg') no-repeat left 10px;
}
.fix-y {
  position: absolute;
}
h1,
h2 {
	font-family: 'Lato',"Arial", _sans-serif;
	font-weight: 700;
}
h3,
h4 {
	font-family: 'Roboto Condensed', _sans-serif;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5 {
  color: #333;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: -1px;
  text-transform: uppercase;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #333;
  color: rgba(0, 0, 0, 0.8);
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  color: #AAAAAA;
  color: rgba(0,0,0,0.5);
}
ol.orbit-bullets {
  position: relative;
  padding: 0.5em;
  top: 0;
  margin-bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
ol.orbit-bullets li {
  float: none !important;
  display: inline-block !important;
  -moz-box-shadow:  0px 2px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 2px 8px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 2px 8px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  width: 1em;
  height: 1em;
}
ol.orbit-bullets li.active {
  background: #111111;
  border-color: #555555;
}
.orbit-container a.orbit-next,
.orbit-container a.orbit-prev {
  filter: progid:dximagetransform.microsoft.alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 600ms;
}
.orbit-container:hover a.orbit-next,
.orbit-container:hover a.orbit-prev {
  filter: progid:dximagetransform.microsoft.alpha(Opacity=100);
  opacity: 1;
}
form.searchform {
  margin-bottom: 0;
  position: relative;
}
form.searchform input {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  padding-left: 2.2em;
  -moz-box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.5);
  margin: 0;
  background: #222;
  font-family: "Lato", Arial, _sans-serif;
  font-weight: 400;
  font-size: 1em;
  border: 1px solid #333;
/*  border-top: 4px solid #aaaaaa !important;
  border-left: 4px solid #aaaaaa !important;
  border-right: 4px solid #888888 !important;
  border-bottom: 4px solid #666666 !important;*/
}
form.searchform input:focus {
	background: #333;
	color: #FFF;	
}
form.searchform i {
  position: absolute;
  left: 0.5em;
  top: 7px;
  font-size: 1.2em;
  line-height: 1.2em;
  z-index: 100;
  color: #DDD;
}
.ui-menu {
  position: absolute;
  cursor: default;
  top: 0;
  z-index: 900;
  -moz-box-shadow:  0 0 0.5em rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:  0 0 0.5em rgba(0, 0, 0, 0.2);
  box-shadow:  0 0 0.5em rgba(0, 0, 0, 0.2);
  list-style-type: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #222;
  border: 1px solid #aaaaaa;
}
.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
}
.ui-menu .ui-menu-item a {
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1;
  border-bottom: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 1px;
}
.ui-menu-loading {
  background: #ffffff url('mysite/images/loader.gif') right center no-repeat;
}
* html .ui-menu {
  width: 1px;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #888888;
  color: #ffffff;
  border-bottom: none;
}
.ui-helper-hidden-accessible {
  display: none;
}
.menuwrap {
  border-bottom: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  background: #e1e0e0;
  background: -moz-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, #ffffff), color-stop(100%, #e1e0e0));
  background: -webkit-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: -o-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: -ms-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: linear-gradient(to bottom, #ffffff 48%, #e1e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e0e0', GradientType=0);
}
ul.gasmenu {
  padding: 0 !important;
  margin: 0 !important;
  /*border-right: 1px solid #aaaaaa;*/
}
.gasmenu li {
  display: table;
  border-left: 1px solid #cccccc;
  margin: 0;
  width: 16.66% !important;
}
.gasmenu li:last-child {
	border-right: 1px solid #cccccc;
}.gasmenu li a {
  display: table-cell;
  font-family: "Roboto Condensed", "Arial Narrow", _sans-serif;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  color: #333333;
  font-size: 0.9em !important;
  font-weight: 700;
  padding: 0.5em 0.5em;
/*  letter-spacing: 0px;*/
}
.gasmenu li.has-dropdown {
  position: relative;
}
.gasmenu li.has-dropdown ul.sub-nav {
  opacity: 0;
  position: absolute;
  z-index: 3000;
  left: 0px;
  top: 2.5em;
  background: #ffffff;
  width: 200% !important;
  border: 1px solid #aaaaaa;
  padding: 0 !important;
  margin: 0 !important;
  max-height: 0px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gasmenu li.has-dropdown ul.sub-nav li {
  width: 100% !important;
  padding: 0;
  margin: 0;
  line-height: 1.2em;
  border: none;
  border-bottom: 1px solid #efefef;
}
.gasmenu li.has-dropdown ul.sub-nav li a {
  padding: 0.5em;
}
.gasmenu li.has-dropdown ul.sub-nav li a img {
  float: left;
}
.gasmenu li.has-dropdown ul.sub-nav li:hover {
  /*background: #efefef;*/
  border-bottom: 1px solid #5e89b5;
}
.gasmenu li.has-dropdown ul.sub-nav.right {
  left: auto;
  right: 0px;
}
.gasmenu li.has-dropdown:hover ul.sub-nav {
  opacity: 100;
  max-height: 500px;
}
ul.fancydrop li a {
	line-height: 50px;
}
#storebutton a {
	width: 100% !important;
}
.loadmore {
	margin-top: 1em;
	text-transform: uppercase;
	font-size: 1.2em;
}
/*.gasmenu > li a:hover,
.gassection .title a:hover,
.gasmenu > li a:hover,
.gassection .active .title a {
  background: #5e89b5;
  color: #FFFFFF;
  /*text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);*!/
}*/
.gasmenu dd:hover {
	background: #5e89b5;
}
.gasmenu dd:hover > a {
	color: #FFF;
}
.sectionwrap {
  background: #999999;
}
div.gassection p.title {
  background: #e1e0e0;
  background: -moz-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, #ffffff), color-stop(100%, #e1e0e0));
  background: -webkit-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: -o-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: -ms-linear-gradient(top, #ffffff 48%, #e1e0e0 100%);
  background: linear-gradient(to bottom, #ffffff 48%, #e1e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1e0e0', GradientType=0);
}
div.gassection p.title a {
  color: #333333;
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: "Roboto Condensed","Arial Narrow", _sans-serif;
}
.gassection .section p.title:hover a {
	background: #5e89b5;
	color: #FFFFFF;
}
.heading {
  padding: 1.2em 0;
  margin-bottom: 1em;
  background: #444;
}
.heading h1 {
	margin: 0;
}
.heading fieldset {
	background: #333;
	border: none;
	margin: 0 0 1em 0;
}
.heading fieldset h4 {
	color: #FFF;
}.heading fieldset lRoboto Condensed {
	color: #ccc;
}
.updates {
  background: rgba(0, 0, 0, 0.75);
  /*margin-top: 2em;*/
  padding-top: 1em;
  margin-bottom: 0;
}
.updates article {
  margin-bottom: 0.5em;
}
.updates .panel {
  padding: 0.6em;
  margin-bottom: 0.5em;
  background: #000;
  border: none;
}
.updates h2,
.updates h3,
.updates h4,
.updates h5,
.updates h6 {
  color: #ffffff;
  text-transform: uppercase;
}
.updates h4 {
	font-size: 1.2em;
	font-weight: 700;
	margin: 0;
}
.address {
 font-family: "Roboto Condensed", "Arial Narrow", _sans-serif;
  color: #bbbbbb !important;
  font-size: 0.9em;
}
.address a i {
  color: #ffffff;
}
.call {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}
.call .button {
  padding: 4px 6px;
  font-weight: 700;
  margin: 1.1em 0 0 0;
  top: -2px;
}
.headerwrap {
  padding: 1em 0;
  background: #111;
}
.headerwrap div.header-center {
  text-align: center;
}
.headerwrap .header-left {
  text-align: left;
}
.headerwrap .header-left img {
  position: relative;
  max-height: 78px;
}
.headerwrap .header-right {
  margin-top: 0.4em;
}
.headerwrap .header-right p {
  color: #efefef;
  margin: 0;
  text-align: right;
}
.motto {
  font-family: "Lato", Arial;
  font-weight: 400;
  margin: 1em 0 0.5em 0;
}
.tagline {
  font-family: "Lato", Arial;
  font-weight: 700;
  margin: 0.4em 0 0.7em 0;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.2em;
}
.slideshow-wrapper img {
  width: 100%;
}
#outer-wrap {
	width: 100%;
	overflow:hidden;
}
#inner-wrap {
  position: relative;
/*  width: 100%;*/
  border-top: 32px solid #333;;
  background: #E8E8E8;
  min-height: 1000px;
  z-index: 2 !important;
/*  -webkit-backface-visibility: hidden;*/
}
#inner-wrap .layout {
/*	-webkit-backface-visibility: hidden;*/
}
.sidenav {
  z-index: 2;
  position: fixed;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  top: 0;
  display: none;
  text-transform: uppercase;
}
.sidenav h3,
.sidenav h4 {
  color: #ffffff;
  margin-bottom: 0;
}
.sidenav .close-btn {
  display: none;
}
.sidenav .block {
  z-index: 2;
  position: relative;
  padding: 0.75em 1.25em;
  padding: 0;
}
.sidenav ul {
  *zoom: 1;
  display: block;
}
.sidenav ul:before {
  content: "";
  display: table;
}
.sidenav ul:after {
  content: "";
  display: table;
  clear: both;
}
.sidenav li {
  display: block;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sidenav li a:focus,
.sidenav li a:hover {
  color: #DDDDDD;
  background: rgba(255, 255, 255, 0.1);
}
.sidenav li a {
  display: block;
  color: #cccccc;
  font-size: 0.875em;
  line-height: 1.28571em;
  font-weight: bold;
  outline: none;
  padding: 1em 1em;
/*  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;*/
}
.sidenav li.sub a {
  font-size: 0.75em;
  padding: 1em 1em 1em 2em;
}
.sidenav li.is-active a {
  color: #ffffff;
}
.sidenav li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidenav li.is-active:after {
  z-index: 50;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: -0.03125em;
  margin-top: -0.625em;
  border-top: 0.625em transparent solid;
  border-bottom: 0.625em transparent solid;
  border-right: 0.625em white solid;
}
.sidenav h2 {
  padding: 0 !important;
  padding: 0 10px !important;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  background: #222222;
  color: #ffffff;
  margin-bottom: 0;
}
.sidenav:not(:target) {
  z-index: 1;
  height: 0;
}
.js-ready .sidenav .close-btn:focus,
.js-ready #nav .close-btn:hover {
  filter: progid:dximagetransform.microsoft.alpha(Opacity=100);
  opacity: 1;
}
.js-ready .sidenav {
  height: 100%;
  width: 70%;
}
.js-ready .sidenav-left {
	left:0;
}
.js-ready .sidenav-right {
	right:0;
}

.js-ready #inner-wrap {
  left: 0;
}
.js-nav-left #inner-wrap {
  left: 70%;
}
.js-nav-right #inner-wrap {
  left: -70%;
}
.js-nav-right div.minimenu-inner {
	right: 20%;
}

.js-ready div.minimenu-inner {
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}
.csstransforms3d.csstransitions.js-ready #inner-wrap {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease;
/*  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;*/
  backface-visibility: hidden;
  webkit-perspective: 1000;
}
.csstransforms3d.csstransitions.js-nav-left #inner-wrap {
  -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  webkit-perspective: 1000;
}
.csstransforms3d.csstransitions.js-nav-right #inner-wrap {
  -webkit-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
  -moz-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
  -ms-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
  -o-transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
  transform: translate3d(-70%, 0, 0) scale3d(1, 1, 1);
  webkit-perspective: 1000;
}


.togglebtn {
  z-index: 5000;
  margin-bottom: 0;
  position: absolute !important;
}
.hide-for-small .togglebtn {
  -moz-box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 3px 8px rgba(0, 0, 0, 0.5);
  border: 2px solid #666666;
  top: 178px;
}
.hide-for-small .toggleright {
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px;
  border-right: none;
}
.hide-for-small .togglecontact {
  top: 216px;
  z-index: 990;
}
.hide-for-small .toggleleft {
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px;
  border-left: none;
  left: 0;
}
.show-for-small .togglecenter {
  left: 100px;
}
.mobileheader {
  background: #666666;
  overflow: hidden;
  height: 40px;
  border-bottom: 1px solid;
}
.mobileheader .togglebtn {
  line-height: 40px;
  height: 39npx;
  padding: 0 10px;
  border: none;
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
}
.toggleright {
  right: 0;
}
.toggleleft {
  left: 0;
}
.at-vertical-menu.ats-dark a,
.at-vertical-menu.ats-dark div.at-share-close-control {
  background: rgba(50, 50, 50, 0.1);
}
.at4-follow-inner {
  background: none !important;
  border: none;
  top: 25px;
}
.at-vertical-menu {
  top: 215px;
  z-index: 50;
}
.blockgrid {
  padding: 0 0.5em;
}
.blockgrid li {
  padding: 0.2em;
}
.blockheading {
  color: #ffffff;
  padding: 0 0.5em;
  background: #222;
  background: rgba(0,0,0,0.7);
}
.blockheading i {
  float: right;
}
.blockheading a {
  color: #dddddd;
}
.blockheading:hover, .inner:hover .blockheading {
  opacity: 0.9;
  background: rgba(0,0,0,0.1);
}
.blockheading:hover a, .inner:hover .blockheading a {
  opacity: 1;
  color: #ffffff;
  font-weight: 700;
}
h3.blockheading {
	font-size: 1.2em;
}
.overlayheading li div.inner {
  position: relative;
}
.overlayheading li div.inner:hover .blockheading {
  opacity: 1;
}
.overlayheading .blockheading {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-family: "Lato", _sans-serif;
  opacity: 0.8;
  text-align: center;
}
.footerwrap {
  background: #333333;
  color: #ffffff;
  padding: 1em 0;
}
.reveal-modal {
  font-size: 90%;
  background: #333;
  color: #EEEEEE;
  overflow: hidden;
}
.reveal-modal h2,
.reveal-modal h3,
.reveal-modal h4,
.reveal-modal h5,
.reveal-modal h6,
.reveal-modal a,
.reveal-modal lRoboto Condensed {
  color: #FFFFFF;
}
.reveal-modal small {
  display: block;
  padding: 0.5em 0 0.5em 2.8em;
}
.reveal-modal .row {
  margin: 0;
  padding: 0;
  width: 100%;
}
.reveal-modal .ps-container {
  max-height: 400px;
}
.reveal-modal-bg {
  background: rgba(0, 0, 0, 0.7);
}
.ps-container {
  position: relative !important;
}
.ps-container .ps-scrollbar-y {
  width: 5px;
  position: absolute;
  right: 0px;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
}
.sidenav-left .ps-scrollbar-y {
  right: auto;
  left: 0;
}
/* PROFILE PAGE */

.ProfilePage .profile a {
	display: block;
	padding: 1em 1em 1em 1em;
	background: #d4d3d3;
	background: rgba(255,255,255,0.3);
	margin-bottom: 0.3em;
	text-align: center;
	border-bottom: 8px solid rgba(0,0,0,0.1);
	overflow: hidden;
}

.ProfilePage .profile .lRoboto Condensed {
	display: inline-block !important;
	margin: 0 !important;
}
.ProfilePage .profile h3 {
	font-size: 1.5em;
	font-weight: 700;
	margin-bottom: 0.3em !important;
}

#profileModal .email, #profileModal .phone {
	color: #EEEEEE !important;
	font-weight: bold !important;
}
#profileModal i {
	color: #FFFFFF !important;
}

.ProfilePage .lRoboto Condensed.jobposition {
	padding: 0.4em 0.8em !important;
	text-transform: uppercase;
}
.divider {
	display: inline-block;
	margin: 0 0.5em;
	border-right: 1px solid #888 !important;
}


h4 ul.inline-list li a {
	color: #333;
	color: rgba(0,0,0,0.6);
}
h4 ul.inline-list li a:hover {
	color: #FFF;
	color: rgba(255,255,255,0.8);
}

hr {
	border-top:  1px solid rgba(50,50,50,0.2);
}
.blockheading {
	position: relative;
	opacity: 0.9 !important;
}
.addthisshare {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;
} 

.bottomtagline {
	background: #333 !important;
}
.bottomtagline h4 {
	color: #FFFFFF;
}
.smallbox img {
	position: absolute;
	top: 0;
	left: 0;
}
.smallbox {
	position: relative;
}
.boxwrap {
	background: #282828;
	position: relative;
}
.textwrap {
	padding: 20px;
	background: #333;
	color: #FFF;
}
.textwrap h3 {
	color: #acb6cf;
}
.textwrap p {
	font-weight: 300;	
}
p.address a {
	overflow: hidden;
}

.brands {
	background: rgba(0,0,0,0.1);
	padding-bottom: 1.5em;
	margin-bottom: 0.5em;
}

.brands li a, .colors li a {
	display: block;
	overflow: hidden;
}

.th {
	border: 3px solid #FFF;
}
.textcontent ul {
	margin-left: 1.2em;
}
.colors h2 a, .brands h2 a{
	color: #FFFFFF;
}
.tags ul {
	text-align: center;
}
.tags ul li {
	display: inline-table;
	float: none !important;
}

.white {
	color: #FFFFFF !important;
}

/* SOCIAL STREAM */
.socialstream {
  background: #999999;
  margin-top: 2em;
  padding: 1em 0;
}
.socialstream h3 a {
	color: #FFF;
}
.socialstream li {
	position:relative;
}
.socialstream li a img.thumb {
	/*border:5px solid #FFF;*/
}
.socialstream .socialicon {
	position: absolute;
	right: 0;
	bottom: 0;
}
.socialstream .post {
	background: #AAA;
	padding: 0.8em;
	overflow: hidden;
	line-height: 1.5em;
	position: relative;
	min-height: 150px;
}
.post, .post a, .post p {
	color: #222;
}
.post.twitter img {
	float: left;
	margin-right: 0.5em;
}
.post.facebook {
	 padding-left: 150px;
}
.post.facebook img {
	position: absolute;
	top: 0.8em;
	left: 0.8em;
}

/* BLOCK GRID STYLING */

.blockgrid li {
	position: relative;
}
.blockgrid li .inner, .SearchResults .inner {
	background: #F6F6F6;
}
.blockgrid li .inner .details {
	padding: 0.2em 0.5em;
	text-transform: uppercase;
}
.blockgrid li .inner h5 {
	font-weight: 700;
	margin: 0;
}
.inner h5 {
	padding: 0.1em 0.3em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}
.blockgrid li a i.sale, .blockgrid li a i.socialicon {
	display: block;
	width: 80px;
	height: 80px;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 500;
}
.blockgrid li a i.sale {
	background:  url('../images/sale.png') no-repeat bottom right;
}
.blockgrid li a i.sale.sold {
	background:  url('../images/sold.png') no-repeat bottom right;
}

.blockgrid li a i.socialicon {
	background:  url('../images/InstagramTag.png') no-repeat bottom right;
}

.sectionbox {
	background: rgba(255,255,255,0.1);
	padding: 1em;
}
.sectionbox .button {
	margin-bottom: 0;
}
.SectionHolder .blockheading {
	margin-bottom: 0.15em;
}

.minimenu {
	position: fixed;
	z-index: 20;
	width: 100%;
	text-align: center;
	top: 0;
}
.minimenu-inner {
	display: inline-block;
	color: #AAA;
	text-align: right;
	padding: 0.5em 0;
	font-size: 0.9em;
	padding: 0.5em 0.8em;
	background: rgba(34, 34, 34, 0.9000);
	text-transform: uppercase;
}

.minimenu a {
	color: #AAA;
}
.minimenu a:hover {
	color: #FFF;
}
.minimenu a i {
	/*color: #555;*/
	font-size: 1.2em;
	font-weight: normal !important;
}
.togglecenter {
	padding: 0.7em 0.6em;
	background: #555;
	font-weight: 700;
	margin-right: 0.5em;
	color: #FFF !important;
}

/* SELECTORS */
.selectors {
	text-transform: uppercase;
}
.selectors .f-dropdown {
	min-width: 100%;
}
.selectors .f-dropdown li {
	line-height: 40px;
}

.more p:last-of-type {
	margin-bottom: 0;
}
/* PROJECT STYLING */
.Page .orbit-container {
	margin-bottom: 1em;
}

a.readmore-js-toggle {
	display: block;
	margin-top: 1em;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}

.white a {
  color: #FFFFFF !important;
}

/* SALES WRAP HEADINGS */

.salesmessage h1, .salesmessage h2, .salesmessage h3, .salesmessage h4 {
	color: #FFF;
}
.saleswrap {
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	background-position: 50% 50% !important;
	position: relative;
	margin-bottom: 1.5em;
}
.salesmessage {
	background: rgba(0,0,0,0.5);
	padding: 1.5em 25% 1.5em 1.5em;
	margin: 1em 0;
}
.salesmessage {
	color: #CCC;
}
.saleswrap h4 {
	font-weight: 700;
}
.saleswrap .button {
	border: none !important;
	text-transform: uppercase;
}
.saleswrap h1 {
	background: #111;
	display: inline-block;
	color: #FFF !important;
	padding: 0.1em 0.5em;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2em;
	margin: 1em 0;
}

/* FORM ADJUSTMENTS */

.checkboxset > lRoboto Condensed {
	float: none !important;
}
.checkboxsetfield {
	list-style-type: none;
}
.checkboxsetfield li {
	display: inline-block;
	min-width: 33%;
}
.checkboxsetfield li input {
	float: left;
	margin: 0.5em 0.5em 0 0;
}

.filterform {
	background: #333;
	padding: 0.8em;
}
.filterform h4 {
	color: #FFF;
	font-weight: 700;
	margin-top: 0;
}
.filterform .field lRoboto Condensed {
	color: #999 !important;
}

.filterform fieldset, .filterform form {
	margin: 0;
	padding: 0;
	border: none;
}
.filterform .action {
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 0;
}
.blocks {
	margin: 0 0 1em 0;
	overflow: hidden;
}.blocks li {
	padding: 0.1em;
}
.sideBox {
	margin-bottom: 0.5em;
}

.customaction {
	text-align: center;
}
.form_submit {
	font-size: 1.8em;
}

/* ---- TIMELINE PAGE ---- */

.TimelinePage .layout, .Blogroll .layout {
/*	background: #FFF !important;*/
}

.sbHolder {
	width: 100% !important;
	margin-bottom: 0.2em;
/*	z-index: 500;*/
}
ul.sbOptions{
	z-index: 1000;
}

.addthis_default_style {
	margin-bottom: 0.3em;
}
.sharetext {
	display: block;
	text-transform: uppercase;
	font-size: 0.8em;
	margin-bottom: 0.3em;
	text-indent: 2px;
	font-weight: 400;
}

#contactModal h3 a {
	color: #FFF;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.loader {
	opacity: 0;
}

*:focus { outline: none !important; }

.projectlink {
	color: #FFFFFF;
}

.build-your-ride .padded .design-your-ride .padded {
	padding: 0 1em;
}
.build-your-ride .padded img, .design-your-ride .padded img {
	max-width: 120px;
}
.layout .flex-video iframe {
	border: 8px solid #CCC;
}

.photoshare {
	display: inline-block;
	padding: 1em;
}
.photoshare strong {
	text-transform: uppercase;
}
.mfp-title {
	font-size: 1.2em;
	white-space: nowrap;
}
.addthisprojet {
	display: inline-block;
	float: left;
}
@media only screen and (min-width: 768px) {
  .js-ready .sidenav {
    width: 20.1%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }
  .js-nav-left #inner-wrap {
    left: 20%;
  }
  .js-nav-right #inner-wrap {
    left: -20%;
  }
  .colors .large-block-grid-24 li {
  	width: 4.1%;
  }
  /* LEFT */
  .csstransforms3d.csstransitions.js-nav-left #inner-wrap {
    -webkit-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(20%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(20%, 0, 0) scale3d(1, 1, 1);
  }
  /* RIGHT */
  .csstransforms3d.csstransitions.js-nav-right #inner-wrap {
    -webkit-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(-20%, 0, 0) scale3d(1, 1, 1);
  }
  .heading fieldset .field {
  	margin: 0 1% 0 0;
  	float: left;
  }
  .heading .four fieldset .field {
  	width: 24%;
  }
  .heading .two fieldset .field {
  	width: 49%;
  }
  .heading .five fieldset .field {
  	width: 19%;
  }
  .heading h1 small a {
  	color: #5e89b5;
  }
  .saleswrap h1 {
  	margin: 4em 0 0 0;
  	position: absolute;
  	left: 0;
  }
  .salesmessage {
  	margin: 1.5em 0;
  }
  #profileModal .details {
  	margin-left: 1em;
  }
}

.galleria.fullscreen { z-index: 99999; background: #000000; position: fixed; left: 0 !important; top: 0 !important; bottom: 0 !important; right: 0 !important;
	width: 100% !important; height: 100% !important;
}

.flex-video.snapwidget {
  padding-bottom:47%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
    	.blockgrid li a i.sale, .blockgrid li a i.socialicon {
    		background-size: 30px 30px;
    	}
}

@media only screen and (max-width: 768px) {
  body {
    border-top: 0;
    padding-top: 0px;
  }
  #inner-wrap {
  	border-top: none !important;
  }
  .headerwrap {
  	margin-top: 0;
  }
  .header-right {
    margin: 0;
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5em 0;
  }
  .header-right p {
    text-align: center !important;
  }
  .header-left {
    text-align: center !important;
  }
  .header-left img {
    /*max-height: 75px !important;*/
    margin-bottom: 0.5em;
    left: 0;
  }
  .call {
    font-weight: 700;
    font-size: 1.2em;
  }
  .call .button {
    padding: 0.3em 0.5em;
    font-size: 1.1em;
  }
  .button {
    margin-bottom: 0;
  }
  .tagline {
  	letter-spacing: 0;
    margin-bottom: 1em;
  }
  .searchform {
    margin: 0.5em 1em;
  }
  .overlayheading .blockheading {
    position: relative;
  }
  .overlayheading i {
    float: right;
  }
  .togglebtn:hover,
  .togglebtn,
  .togglebtn:focus {
    background: #555555;
    border: none !important;
  }
  .blockheading {
    font-size: 1em;
  }
  .overlayheading h3.blockheading {
  	font-size: 1em !important;
  	line-height: 1.2em;
  	min-height: 2.5em;
  	max-height: 2.5em;
  }
  .overlayheading .addthisshare {
  	display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) { 
	.gasmenu li a {
		font-size: 0.8em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.BrandView .heading {
	margin-bottom: 0 !important;
}



.black {
	background: #000;
}
.black h2, .black a h4 {
	color: #FFF;
}
.black .section .title {
	background: none !important;
	border: none !important;
}
.black .section .title a {
	color: #999 !important;
}
.black .section.active .title a {
	background: #222 !important;
	color: #FFF !important;
}
.black .section .content {
	background: #222 !important;
	border: none !important;
}
.BrandView .sub-nav dd {
	text-transform: uppercase;
	margin-right: 10px;
}
.BrandView .sub-nav dd a:hover {
	color: #000;
}
.BrandView .productwrap {
	padding: 1.2em;
}

.ProductView .heading {
	margin-bottom: 0 !important;
}
.whitebg {
	background: #FFF !important;
	padding: 1.4em 0 !important;
}